@import url('/assets/fonts/gilroy/gilroy-font.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* VARIABLES */
:root {
    --primary: rgb(29, 119, 255);
    --primary-text-color: white;
    --secondary-text-color: #AEAEB4;
}

/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Gilroy', sans-serif;
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    height: 100vh;
    background-color: rgb(16, 17, 20);
    color: var(--primary-text-color);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

button {
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
}

/* SCROLLBAR HIDE */
.calendar {
    display: flex;
    gap: 8px;
    overflow-x: auto;
}

.calendar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.calendar {
    scrollbar-width: none; /* Firefox */
}

/* DAY COMPONENT STYLES */
.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 64px;
    height: 80px;
    padding: 12px 16px;
    background: rgb(30, 31, 36);
    border-radius: 24px;
    transition: background-color 0.3s ease;
}

.day:hover,
.day:focus {
    background-color: var(--primary);
}

.day-of-the-week {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.day-of-the-month {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}